@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: btr --default, cmyk
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@plugin "daisyui/theme" {
  name: "btr";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(62% 0.214 259.815);
  --color-primary: oklch(88% 0.059 254.128);
  --color-primary-content: oklch(54% 0.245 262.881);
  --color-secondary: oklch(70% 0.191 22.216);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(87% 0.169 91.605);
  --color-accent-content: oklch(98% 0.026 102.212);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}

html {
  font-family: 'Pretendard', Courier, monospace;
  letter-spacing: -0.05em; /* 원하는 자간 */
}